################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/track facttable with 4 dimensions/.vs/Data Warehousing project/FileContentIndex/d9cc64ce-09a0-4902-b21d-07dfc8aebcaf.vsidx
/track facttable with 4 dimensions/.vs/Data Warehousing project/v17/.suo
